* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.contentC {
    align-items: center;
    background: url(img/fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.contentC-details {
    border-radius: 10px;
    color: #fff;
    padding: 30px;
    width: 80%;
}

.contentC-details img {
    border-radius: 10px;
    width: 350px;
}

.contentC-details a {
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}